.header {
  background-color: var(--gray-700);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 12.5rem;
}

.header img {
  height: 2.25rem;
  margin-right: 0.75rem;
}

.titleBlue {
  color: var(--blue);
  font-size: 2.5rem;
  font-family: 'Inter', sans-serif;
  font-weight: 900;
}

.titlePurple {
  color: var(--purple-dark);
  font-size: 2.5rem;
  font-family: 'Inter', sans-serif;
  font-weight: 900;
}