.tasks {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 4rem;
}

.infoContainer {
  display: flex;
  justify-content: space-between;
  width: 736px;
  gap: 0.5rem;
}

.infoContainer span {
  padding: 2px 8px;
  gap: 10px;
  font-weight: 700;

  width: 25px;
  height: 19px;
  background: var(--gray-400);
  color: var(--gray-100);
  border-radius: 999px;
}

.created {
  color: var(--blue);
  margin-right: 0.5rem;
}

.finished {
  color: var(--purple);
  margin-right: 0.5rem;
}

.tasksContainer {
  margin-top: 1.5rem;
  border-top: 1px solid var(--gray-400);
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 736px;
  gap: 8px;
}

.tasksContainer img {
  margin-top: 4rem;
  margin-bottom: 8px;
  height: 56px;
}
